@import './utils/vars/vars';
@import './utils/vars/fonts';
@import './utils/vars/time-function';
@import './components/main/hero';
@import './components/main/visually-hidden';
@import './components/main/advatages';
@import './components/main/section-text';
@import './components/main/doing';
@import './components/main/our-team';
@import './components/main/customers';
@import './components/main/modal';
@import './components/main/form-modal';
