.customers {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
  .item {
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
    width: calc((100% - 60px) / 2);
    margin: 15px;

    border: 1px solid $border-customers-color;
    border-radius: 4px;
    color: $border-customers-color;
    cursor: pointer;

    transition: border-color 250ms $time-function,
      color 250ms $time-function;
    @media screen and (min-width: 768px) {
       width: calc((100% - 90px) / 3);
       margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 150px) / 6);
      margin-bottom: 0;
        &:nth-child(2n) {
        margin-right: 30px;
      }
        &:nth-child(6n) {
        margin-right: 0;
      }
    }
    &:hover, &:focus {
      border-color: $accent-color;
      color: $accent-color;
    }
  }
}

.bacground-customers {
  color: inherit;
}

.icon-customers {
  display: block;
  fill: currentColor;
}
