.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;

  background-color: $backdrop-color;
  opacity: 1;
  transition: opacity 250ms $time-function;
  .modal {
    transform: scale(1) translate(-50%, -50%);
    transition: transform 250ms $time-function;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  .modal {
    transform: scale(0) translate(-50%, -50%);
  }
}

.modal {
  position: absolute;
  width: calc(100vw - 30px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  background-color: $primary-white-color;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  @media screen and (min-width: 480px) {
    max-width: 450px;
    height: 609px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 528px;
    height: 581px;
  }
}

.close-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: inherit;
  transform: scale(1);
  transition: transform 250ms $time-function,
    color 250ms $time-function;
  
  background-color: $primary-white-color;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  &:hover, &:focus {
    transform: scale(1.1);
    cursor: pointer;
    fill: $accent-color;
    outline: none;
  }
}

.modal-header {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;

  margin-bottom: 30px;
}

.modal > .color {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;

  color: $primary-white-color;
  background-color: $accent-color;
}

.policy {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 171%;
  letter-spacing: 0.03em;

  color: $text-color;
  cursor: pointer;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.policy-web {
  font-size: 12px;
  line-height: 171%;
  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: $accent-color;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.checkbox {
  margin-bottom: 30px;
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.icon-checkbox {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid $primary-text-color;
  border-radius: 2px;
  background-color: inherit;

  transition: background-color 250ms $time-function;
  @media screen and (min-width: 1200px) {
    margin-left: 13px;
  }
  .checkbox input:checked + & {
    border-color: transparent;
    background-color: $accent-color;
    background-image: url('../images/icon-check.svg');
    background-size: contain;
    background-origin: border-box;
  }
}

.form-coment {
  padding: 12px 16px 12px 16px;
}
