$primary-text-color: #212121;
$text-color: #757575;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$footer-second-text-color: rgba(255, 255, 255, 0.4);
$footer-three-text-color: rgba(255, 255, 255, 0.6);
$bacground-three-color: rgba(47, 48, 58, 0.8);
$bacground-color: #e5e5e5;
$bacground-second-color: #f5f4fa;
$footer-bacground-color: #2f303a;
$border-bottom-color: #ececec;
$border-footer-solid: rgba(255, 255, 255, 0.1);
$border-customers-color: #afb1b8;
$border-our-team-color: #eeeeee;
$accent-color-portfolio: rgba(33, 150, 243, 0.9);
$backdrop-color: rgba(0, 0, 0, 0.2);
