.footer-logo {
  margin-left: auto;
  margin-right: auto;
  
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: $primary-white-color;

  transition: color 250ms $time-function;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 31px;
  }
  &:hover, &:focus {
    color: $accent-color;
  }
}

.footer-logo-accent {
  color: $accent-color;

  transition: color 250ms $time-function;
  &:hover, &:focus {
    color: $primary-white-color;
  }
}

.footer-logo,
.footer-logo-accent {
  background-color: $footer-bacground-color;
}
