body {
  color: $primary-text-color;
  font-family: $primary-font;
}

h2,
h3 {
  font-weight: 700;
}

h1,
h2,
h3,
h4,
p {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  @media screen and (min-width: 1600px) {
    width: 1200px;
  }
}

.section {
  padding: 60px 0;
  text-align: center;
  @media screen and (min-width: 1600px) {
    padding: 94px 0;
  }
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link,
.current {
  text-decoration: none;
}

.no-padding-bottom {
  padding-bottom: 0;
}