.logo {
  margin-right: 81px;

  font-family: $logo-font;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  color: $primary-text-color;

  transition: color 250ms $time-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 31px;

    margin-right: 85px;
  }
}

.logo-accent {
  color: $accent-color;

  transition: color 250ms $time-function;
  &:hover,
  &:focus {
    color: $primary-text-color;
  }
}
