.our-works {
  display: flex;
  flex-wrap: wrap;
  .item {
    position: relative;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    border: 1px solid $border-our-team-color;

    transition: box-shadow 250ms $time-function;
    &:hover, &:focus {
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
        0px 1px 1px rgba(0, 0, 0, 0.12);
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.thumb {
  position: relative;
  overflow: hidden;
}

.img-our-team {
  width: 100%;
}

.sectiion-title {
  margin: 20px 24px 4px 24px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;

  color: $primary-text-color;
}

.section-subtitle {
  margin: 0 24px 20px 24px;

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  text-align: left;

  color: $text-color;
}

.section-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;

  color: $primary-white-color;
  background-color: $accent-color-portfolio;

  transform: translateY(+100%);
  transition: transform 250ms $time-function;
  .our-works .item:hover &, .our-works .item:focus & {
    transform: translateY(0);
  }
}